.loading-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .loading-logo {
      animation: loading-logo-spin infinite 20s linear;
    }
  }

  @keyframes loading-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }